<%- include('partials/header') -%>

<main class="container" col-xxl-8 px-4 py-5 card-container">
    <hr>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <hr>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">The Focus Journal</h1>
            <p class="lead">Focus on your Journal entries. 25 minutes at a time.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/signup" type="button" class="btn btn-outline-success btn-lg">Sign up for The Focus Journal</a>
            </div>
        </div>

        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/imgs/focus-journal.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
        </div>

    </div>

    <br>
</main>

<%- include('partials/footer') -%>